.widget
  .widget__title Recent-posts

  .post-widget
    .post-widget__img
      img(src="./img/small-thumbs/01.jpg", alt="")
    .post-widget__title Austin DIY sriracha polaroid sartorial la croix.
    .post-widget__info december 26, 2019 — 5 comments