+widget("Instagram")
  .widget-instagram
    .widget-instagram__item
      a(href="#")
        img(src="./img/instagram/insta-01.jpg", alt="")
    .widget-instagram__item
      a(href="#")
        img(src="./img/instagram/insta-02.jpg", alt="")
    .widget-instagram__item
      a(href="#")
        img(src="./img/instagram/insta-03.jpg", alt="")
    .widget-instagram__item
      a(href="#")
        img(src="./img/instagram/insta-04.jpg", alt="")
